/*שלום כיתה א

selected tag{
property:value;
}
*/

/*
צבע רגיל
*/
h1{
    color:blue;
}

/*
צבע לפי החיפוש בגוגל
*/
li{
    color:rgb(255,97,0);
}
/*
צבע לפי גוון
*/
p{
    color:#0895a8;
}
/*
בהירות של הצבע זה האחרון
*/
h4{
    color: rgba(255,97,0,0.5)
}